html {
    height: 100%;
}

body {
    height: 90%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: dotted purple 5px;

    
}

.main-body {
    width: 400px;
    height: 600px;
    background-color: turquoise;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.display-container {
    width: 300px;
    height: 150px;
    border: solid 3px #9D00FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    width: 275px; 
    height: 130px;
    border: solid 3px #9D00FF;
}

.button-containers {
    width: 365px;
    height: 450px;
    outline: solid 3px #1F51FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    width: 95%;
    height: 85px;
     /* outline: dotted lavender 3px;  */
    display: flex;
    align-items: center;
    column-gap: 15px;
    
  
    
}

.button-single {
    font-size: 40px;
    width: 75px;
    height: 70px;
    border: solid 3px #1F51FF;
    display: flex;
    align-items: center;
    justify-content: center;

}

#equal-button {
    font-size: 40px;
    border: solid 3px white;
    box-shadow: 
     0 0 3px white,
     0 0 7px white,
     0 0 12px white,
     0 0 19px #ff5f1f,
     0 0 26px #ff5f1f,
     inset 0 0 33px #ff5f1f;

    color: #FF5F1F;
    text-shadow: 
     0 0 5px #ffffff,
     0 0 9px #ffffff,
     0 0 15px #ffffff,
     0 0 24px #ff5f1f,
     0 0 30px #ff5f1f,
     0 0 36px #ff5f1f,
     0 0 45px #ff5f1f;

    
}

 #clear-button {
    color: #FF3131;
    border: solid 3px #FF3131;
}
